@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "NautilusPompiliusRegular";
  src: url("../fonts/NautilusPompiliusRegular/NautilusPompiliusRegular.eot");
  src: url("../fonts/NautilusPompiliusRegular/NautilusPompiliusRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/NautilusPompiliusRegular/NautilusPompiliusRegular.woff") format("woff"), url("../fonts/NautilusPompiliusRegular/NautilusPompiliusRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "BeerRegular";
  src: url("../fonts/BeerRegular/BeerRegular.eot");
  src: url("../fonts/BeerRegular/BeerRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/BeerRegular/BeerRegular.woff") format("woff"), url("../fonts/BeerRegular/BeerRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
