body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }

.back-bird {
  width: 960px;
  height: 298px;
  background-image: url(../img/back-bird.png);
  background-repeat: no-repeat;
  background-position: top left;
  position: absolute;
  left: 50%;
  margin-left: -480px; }

.bird-box {
  position: relative;
  height: 600px;
  background-image: url(../img/bird-bg.jpg);
  -webkit-background-size: auto 600px;
          background-size: auto 600px;
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden;
  z-index: 2; }

.fore-bird {
  width: 960px;
  height: 733px;
  background-image: url(../img/fore-bird.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  position: absolute;
  left: 50%;
  margin-left: -480px;
  top: 350px; }

.logo {
  text-transform: uppercase;
  font-size: 5em;
  font-weight: bold;
  color: #000;
  text-align: center;
  padding-top: 200px;
  letter-spacing: 5px;
  line-height: 1; }

.logo-bott {
  text-transform: uppercase;
  font-size: 2em;
  color: #000;
  text-align: center;
  letter-spacing: 5px; }

.horiz-line {
  display: inline-block;
  border-top: 2px solid #000;
  width: 145px;
  padding-bottom: 10px; }

.content {
  margin-top: 20px; }

h1 {
  font-size: 3em;
  text-align: center;
  color: #ccc;
  padding-top: 30px;
  padding-bottom: 30px; }

p {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  line-height: 1.8; }

.large-window {
  width: auto;
  height: 750px;
  background-image: url(../img/model2.jpg);
  background-position: top center;
  background-attachment: fixed;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: relative;
  margin: 75px auto; }
  .large-window .window-tint {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .large-window .promo-text {
    color: #fff;
    font-weight: 100;
    font-size: 50px;
    line-height: 1.2; }
    .large-window .promo-text strong {
      display: block;
      font-size: 30px; }
    .large-window .promo-text span {
      font-weight: 300;
      font-size: 18px;
      font-style: italic;
      color: rgba(255, 255, 255, 0.6); }
    .large-window .promo-text .window-cta {
      font-size: 20px;
      text-decoration: none;
      color: #fff;
      border: 1px solid #fff;
      padding: 10px 20px;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .large-window .promo-text .window-cta:hover {
        background-color: white;
        color: black; }

.post-block {
  text-align: center;
  border: 1px solid #ccc;
  padding: 25px 20px;
  color: #222;
  margin-bottom: 50px; }
  .post-block img {
    width: 100%; }
  .post-block h2 {
    margin-top: 0; }
  .post-block p {
    line-height: 1.5; }
  .post-block button {
    width: 100%;
    text-transform: uppercase;
    font-size: 12px;
    color: #555;
    font-family: sans-serif;
    margin-bottom: 10px; }

.u-st {
  margin-bottom: 25px; }

.post {
  margin-top: 25px;
  margin-bottom: 50px; }

footer {
  background-color: #000;
  color: #fff;
  padding: 40px 0;
  font-size: 0.9em; }
  footer h4 {
    text-transform: uppercase; }
  footer input {
    color: #000;
    text-indent: 5px;
    height: 33px; }
  footer p {
    text-align: left;
    padding-top: 0; }
  footer .btn {
    margin-left: 10px;
    padding-left: 25px;
    padding-right: 25px; }
  footer ul li {
    cursor: pointer;
    margin-top: 10px;
    list-style-type: circle; }

.container {
  max-width: 750px; }

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.flex-element {
  min-width: 225px;
  margin-bottom: 20px;
  background: lightgrey; }
  .flex-element img {
    width: 225px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .flex-element img:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
