@media (max-width: 767px) {
  .newslet {
    margin-top: 25px; }
  .large-window {
    height: 600px; }
  .clothes-pics img {
    width: 70%; } }

@media (max-width: 580px) {
  .large-window {
    height: 500px; }
  .logo {
    font-size: 3.5em; }
  .logo-bott {
    font-size: 1.5em; }
  .horiz-line {
    width: 100px; } }

@media (max-width: 480px) {
  .newslet {
    margin-top: 25px; }
  .large-window {
    height: 400px; }
  .logo {
    margin-bottom: 10px; }
  .horiz-line {
    display: block;
    text-align: center !important;
    padding-bottom: 0;
    margin: 0 auto;
    width: 150px; } }

@media (max-width: 338px) {
  .newslet .btn {
    margin-top: 10px;
    margin-left: 0;
    display: block; } }
